body{
	background-attachment: fixed;
	background-size: cover;
	background-repeat:no-repeat;
	/* background-image: url('../images/clearance_background.jpg'); */
	/* color:white; */
	background-color: #fbf9f9;
}
.clearance_add_form{
	/* background-color:#99d5e9; */
	padding:30px;
	border-radius: 5px;
	transition: .4s;
}
.clearance_add_form:hover{
	/* background-color: #169f8b80; */
	box-shadow: 2px 2px 4px black;
}
.clearance_add_student:hover{
	/* background-color: #2ee00080; */
	box-shadow: 2px 2px 4px black;
}
.clearance_add_student{
	/* background-color:#64d84680; */
	padding:30px;
	border-radius: 5px;
	transition: .4s;
}
.search{
	/* background-color:#f0de1eb3; */
	padding:30px;
	border-radius: 5px;
}
.sidebar ul{
	padding-left: 0;
	color: white;
}
.sidebar{
	height: 700px;
	width:280px;
	box-shadow: 2px 2px 4px black;
	background-color:#444;
	position: fixed;
}

.login_form{
	padding:20px;
}
.login_form .input_login{
	display:block;
	margin:20px 0;
	padding:15px;
	color:black;
	font-size: 16px;
	width: 100%;
	transition: .4s;
}
.login_form .input_login:focus{
	border-radius: 5px;
	border: solid 1px orange;
}
.login_bg .col-md-4{
	margin-top:10px;
	background-color:white;
	padding:10px;
	border-radius: 5px;
	/* box-shadow: 2px 2px 4px black; */
}
select{
	width: 100%;
}
select option{
	color:white;
}
#login_btn {
	margin-top:20px;
	color:white;
	transition: .4s;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
}
ul li{
	list-style-type: none;
	text-decoration: none;
}
/* .btn{
	background-color:#09c;
	color: white;
	border-radius: 5px;
	border:solid 1px blue;
	transition: .5s;
} */
/* .btn:hover{
	background-color:darkblue;
} */
.search input{
	display:inline;
}
.add input{
	display:inline;
}
